$fontBase: 62.5%;

$fontMedium: 1.5rem;
$fontCopy: 1.3rem;

$baseLineHeight: 1.5;

//

$fontSizeMedium: $fontMedium;
$lineHeightMedium: $baseLineHeight;

$fontSizeCopy: $fontCopy;
$lineHeightCopy: $baseLineHeight;
